button {
  font-size: 16px;
  display: block;
}

.search-button {
  background-color: white;
  color: rgb(23, 203, 209);
  border: 1px solid rgb(23, 203, 209);
  padding: 8px 40px;
  border-radius: 16px;
  font-weight: bold;
  margin-bottom: 16px;
}
.plus-button {
  background-color: turquoise;
  color: white;
  border-radius: 50%;
  border: none;
  padding: 10px 16px;
  margin-bottom: 16px;
}
.create-account-button {
  background-color: steelblue;
  border: 2px solid black;
  color: white;
  box-shadow: 5px 8px 0px black;
  padding: 8px 16px;
}
